*{
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, san-serif;
}

Body{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #0e0e0f, #b72e2e);
    display: flex;
    align-items: center;
    justify-content: center;
}


.card{
    background: #cecece;
    width: 150%;
    max-width: 560px;
    min-height: 480px;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.card h2{
    text-align: center;
    margin-bottom: 25px;
}

.card label{
    font-weight: 600;
    margin-top: 12px;
    display: block;
}

.card button{
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.card button:hover{
    background: #1e40af;
}