h1{
    color: red;
    font-size: 250%;
    margin-top: 20px;
    font-family: serif;
    margin-top: 2%;
    margin-bottom: 1%;
    }

h4{
    margin-bottom: 4%;
    margin-top: 0%;
}

body{
    background-color:beige;
}

img{
    border-radius:5%;
    border: 1px solid #070707;
    padding: 5px;
    width: 50%;
    height:auto;
}
