.site-header {
  border-bottom: 3px solid black;
  width: 100%;
  padding: 16px 0;
}

.site-name {
  margin: 0;
  text-align: center; 
}


border{
    border: 2px solid black;
    padding: 10px 20px;
    display: inline-block;
    margin:0;
}

footer{
    flex:1;
    padding: 50px;
}

body{
    background-color:beige;
}

img{
    position: center;
    top:0;
    left: 0;
    border-radius:5%;
    border: 1px solid #3d3d3d;
    padding: 0px;
    width: 80;
    height: 80;
    height:auto;
    align-items:end;
}

.dropdown {
  position: absolute;
  top:0;
  left: 0;
  display: inline-block;
}

.dropbtn {
  padding: 10px 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  border: 1px solid #ccc;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.todo-container {
    text-align: center; 
}

.todo-container h3 {
    margin-bottom:10;
}




